# Site settings
title: "Mantas Naidzinavičius"
description: "Personal blog of Mantas Naidzinavičius"
url: "https://naidzinavicius.dev"
baseurl: ""

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

